# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

---

In [3]:
list_1=list(range(1,11))
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

---

In [5]:
tuple_1=("apple","banana","cherry")
tuple_1

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [7]:
numbers=[10,20,30,40]
numbers=tuple(numbers)
numbers

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

In [4]:
numbers={1,2,3,4,5}
numbers

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

In [ ]:
student={"name":"Alice","age":20,"grade":"A"}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

In [16]:
list_1=[10,20,30,40,50]
#list_2=list([10,20,30,40,50])
#list_2

list_1[1]

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

In [18]:
fruits=["apple","banana","cherry","orange"]
fruits[2]="mango"
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

In [28]:
numbers={1,2,3,4,5}
numbers=list(numbers)
numbers.append(6)
numbers=set(numbers)
numbers

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

In [22]:
person={"name":"john","age":25,"city":"New York"}
del person["age"]
person

{'name': 'john', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

In [32]:
number=[]
for i in range(10):
    number.append(i)
print(number)
#number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

In [7]:
number=[i**2 for i in range(1,11)]
number

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [10]:
list_1=[i for i in range(2,11) if i%2==0]
list_1

[2, 4, 6, 8, 10]

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [1]:
fruits = ["apple", "banana", "cherry"] 
for i in fruits:
    print(i)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

In [13]:
numbers = {1, 2, 3, 4, 5}
numbers=list(numbers)
count_3=numbers.count(3)
if count_3!=0:
    print("the value 3 exists in the set")
else:
    print("the value 3 not exists in the set")

the value 3 exists in the set

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

In [15]:
numbers = (10, 20, 30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

In [17]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

In [19]:
def liste_somme(list_1):
    somme=sum(list_1)
    return somme

liste_somme([1,2,3,4])

10

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

In [27]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set(numbers)

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

In [25]:
list('hello')

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

In [ ]:
tuple_1=(1, 2, 3, 4)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [4]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

In [7]:
dict_1={i:i**2 for i in range(1,6)}
dict_1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

In [13]:
def dict_iterate(dict_1):
    for i in dict_1.items():
        print(i)
dict_iterate(dict1)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

In [7]:
def first_letters_al():
    lettre=[chr(i) for i in range(ord("a"),ord("a")+5)]
    return lettre

In [9]:
first_letters_al()

['a', 'b', 'c', 'd', 'e']

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [15]:
list_1=[10, 20, 30, 40, 50]
nombre=list_1.index(50)
print(nombre)

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

In [18]:
names = ["Alice", "Charlie", "Bob", "David"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

In [21]:
def largest_list(list_1):
    som=0
    for i in list_1:
        som+=i
    return som
largest_list([1,2,4])

7

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

In [24]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

In [26]:
person={"name":"Alice","age":25,"city":"New York"}
person["city"]

'New York'

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

In [32]:
def remove_duplicates(list_1):
    list_1=list(set(list_1))
    return list_1
remove_duplicates( ["apple", "banana", "apple", "orange"])

['apple', 'orange', 'banana']

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

In [34]:
list_1=[i**2 for i in range(1,11)]
list_1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

In [11]:
def all_values_dic(dic_1):
    return sum(dic_1.values())
dic_1={1: 1, 2: 2, 3: 3, 4: 4}
all_values_dic(dic_1)

10

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

In [46]:
list_1=[3, 1, 4, 1, 5, 9]
list_1.sort()
list_1

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

In [48]:
def longest_string(str):
    return len(str)
longest_string('str')

3

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

In [14]:
list_1= [1, 2, 3, 4, 5]
resultat=all(x>0 for x in list_1)
resultat

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

In [18]:
list_typle=[(x,x**2) for x in range(1,6)]
list_typle

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

In [20]:
def deuxiemes_elements(liste_tuples):
    return [t[1] for t in liste_tuples]
deuxiemes_elements(list_typle)

[1, 4, 9, 16, 25]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

In [22]:
def one_list(liste_de_listes):
    return [element for sous_liste in liste_de_listes for element in sous_liste]

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

In [24]:
list_abc= ["apple", "banana", "cherry"]
for index,list_abc in enumerate(list_abc) :
    print(index,list_abc)

0 apple
1 banana
2 cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

In [29]:
my_typle=()
if not my_typle:
    print('my_typle est vide ')
else:
    print("my_typle n'est vide ")

my_typle est vide

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

In [31]:
list_even=[i for i in range(1,20) if i%2==0 ]
list_even

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [34]:
def list_nombre(list_1):
    return list_1[::-1]
list_nombre([2,43,543,2])

[2, 543, 43, 2]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

In [36]:
dic_1={i:i**3 for i in range(1,6)}
dic_1

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

In [38]:
list_1=[1, 2, 2, 3, 4, 4, 5]
list_1=list(set(list_1))
list_1

[1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

In [39]:
def valeurs_pour_cle(liste_dicts, cle):
    return [d[cle] for d in liste_dicts if cle in d]

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

In [42]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b
for nombre in fibonacci(10):
    print(nombre, end=" ")

0 1 1 2 3 5 8 13 21 34

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

In [43]:
def caracteres_uniques(chaine):
    return list(set(chaine))
caracteres_uniques("adama")

['m', 'd', 'a']

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

In [44]:
def fusion_listes(liste1, liste2):
    resultat = []
    i, j = 0, 0
    
    # Parcourir les deux listes tant qu'il y a des éléments
    while i < len(liste1) and j < len(liste2):
        if liste1[i] < liste2[j]:
            resultat.append(liste1[i])
            i += 1
        else:
            resultat.append(liste2[j])
            j += 1
    
    # Ajouter les éléments restants de liste1
    while i < len(liste1):
        resultat.append(liste1[i])
        i += 1
    
    # Ajouter les éléments restants de liste2
    while j < len(liste2):
        resultat.append(liste2[j])
        j += 1
    
    return resultat

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

In [46]:
list_1=[1, 2, 3, 4, 5, 6]
pairs = list(filter(lambda x: x % 2 == 0, list_1))
print(pairs)

[2, 4, 6]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

In [49]:
list_of_tuples=[(1, 2), (3, 4), (5, 6)]
dictionnair=dict(list_of_tuples)
dictionnair

{1: 2, 3: 4, 5: 6}

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

In [51]:
def difference_symetrique(set1, set2):
    return set1.symmetric_difference(set2)
A = {1, 2, 3}
B = {3, 4, 5}

print(difference_symetrique(A, B))

{1, 2, 4, 5}

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

In [55]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
list3 = [4, 3, 7, 8]
commun=list(set(list1) & set(list2) & set(list3))
commun

[3, 4]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

In [56]:
def factoriel(n):
    if n == 0 or n == 1:  # Cas de base
        return 1
    else:
        return n * factoriel(n - 1)  # Appel récursif

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

In [58]:
list_1=["apple", "", "banana", "", "cherry"]
list_1=[i for i in list_1 if i!=""]
list_1

['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

In [60]:
def invers_dic(dict1):
    dict1={v:k for k,v in dict_1.items()}
    return dict1

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

In [61]:
def list_even(list1):
    list1=[i for i in list1 if i%2==0]
    return list1

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

In [62]:
def first_element(list_typle):
    return[t[0] for t in list_typle]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

In [63]:
def supprimer_doublons(liste):
    vue = set()
    resultat = []
    for element in liste:
        if element not in vue:
            resultat.append(element)
            vue.add(element)
    return resultat

# Exemple d'utilisation
ma_liste = [1, 2, 2, 3, 4, 3, 5]
nouvelle_liste = supprimer_doublons(ma_liste)
print(nouvelle_liste)

[1, 2, 3, 4, 5]

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

In [64]:
mots = ["apple", "banana", "cherry"]

# Utilisation de map pour obtenir la longueur de chaque mot
longueurs = list(map(len, mots))

print(longueurs)

[5, 6, 6]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

In [68]:
list_3=[35,9,865,45]
som=sum(list_3)
moyenne=som/len(list_3)
moyenne

238.5

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

In [69]:
def fibonacci_liste(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    
    fib = [0, 1]  # Les deux premiers termes
    while len(fib) < n:
        fib.append(fib[-1] + fib[-2])  # Ajouter la somme des deux derniers termes
    return fib

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

In [70]:
fruits=["apple", "banana", "apple", "cherry"]
compteur = {}
for fruit in fruits:
    if fruit in compteur:
        compteur[fruit] += 1
    else:
        compteur[fruit] = 1

print(compteur)

{'apple': 2, 'banana': 1, 'cherry': 1}

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

In [76]:
def valeur_a_supprimer(nombres, valeur):
    while valeur in nombres:
        nombres.remove(valeur)
    return nombres

# Exemple d'utilisation
resultat = valeur_a_supprimer([1, 2, 3, 2, 4, 2, 5], 2)
print(resultat)

[1, 3, 4, 5]

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

In [77]:
def debut_voyelle(liste_str):
    voyelles = "AEIOUaeiou"
    return [mot for mot in liste_str if mot and mot[0] in voyelles]

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

In [78]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection=set1&set2
intersection

{3, 4}

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

In [79]:
def aplatir_liste(liste):
    resultat = []
    for element in liste:
        if isinstance(element, list):  # Si l'élément est une liste
            resultat.extend(aplatir_liste(element))  # Appel récursif
        else:
            resultat.append(element)
    return resultat

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

In [81]:
list_1=[1,3,7,8,8]
resultat=len(list_1)==len(set(list_1))
resultat

False

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

In [82]:
from functools import reduce

# Liste d'exemple
nombres = [1, 2, 3, 4, 5]

# Utilisation de reduce pour multiplier tous les éléments
produit = reduce(lambda x, y: x * y, nombres)

print(produit)

120

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

In [92]:
def dictionnaire(list_strings):
    dictionary={mot:len(mot) for mot in list_strings}
    return dictionary
dictionnair=dictionnaire(['adama','telly'])
dictionnair

{'adama': 5, 'telly': 5}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

In [97]:
caracter="asavcw vff3ye"
voyelle='aieouAIEOU'
nombre_voyelle=sum(1 for nombre in caracter if nombre in voyelle)
nombre_voyelle

3

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

In [104]:
import math 
tuple_factorial=[(i,math.factorial(i)) for i in range(1,6)]
tuple_factorial

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

In [105]:
# Liste de dictionnaires
liste_dicts = [{"a": 1}, {"b": 2}, {"c": 3}]

# Fusionner les dictionnaires
dictionnaire_unique = {}
for d in liste_dicts:
    dictionnaire_unique.update(d)

print(dictionnaire_unique)

{'a': 1, 'b': 2, 'c': 3}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

In [106]:
def est_sous_ensemble(sous_ensemble, ensemble):
    return sous_ensemble.issubset(ensemble)

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

In [107]:
# Liste de tuples
liste_tuples = [(1, 3), (2, 1), (4, 2), (3, 5)]

# Tri selon le deuxième élément
liste_triee = sorted(liste_tuples, key=lambda x: x[1])

print(liste_triee)

[(2, 1), (4, 2), (1, 3), (3, 5)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

In [109]:
def liste_only_positive(list_integers):
    list_integers=[i for i in list_integers if i>0]
    return list_integers

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

In [110]:
def fonction_union(set1,set2):
    return set1.union(set2)

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

In [114]:
from functools import reduce

def produit_liste(liste):
    return reduce(lambda x, y: x * y, liste)

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

In [120]:
list1=['a','b','c']
chaine=''.join(list1)
chaine

'abc'

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [ ]:
def deuxieme_plus_grand(liste):
    if len(liste) < 2:
        return None  # Pas assez d'éléments
    # Supprimer les doublons et trier la liste
    unique_liste = sorted(set(liste), reverse=True)
    return unique_liste[1]  # Le deuxième élément

# Exemple d'utilisation
nombres = [4, 1, 7, 7, 3, 2]
print(deuxieme_plus_grand(nombres))

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

In [121]:
def cles_triees(dictionnaire):
    return sorted(dictionnaire.keys())

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

In [ ]:
from collections import Counter

# Liste d'exemple
liste = [1, 2, 2, 3, 3, 3, 4, 2]

# Compter les occurrences
compteur = Counter(liste)

# Trouver l'élément le plus commun
element_plus_frequent = compteur.most_common(1)[0][0]

print(element_plus_frequent)

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

In [ ]:
def trier_par_premier(liste_tuples):
    return sorted(liste_tuples, key=lambda x: x[0])

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

In [ ]:
# Liste de dictionnaires avec doublons
liste_dicts = [
    {"a": 1, "b": 2},
    {"c": 3},
    {"a": 1, "b": 2},
    {"d": 4}
]

# Supprimer les doublons
liste_sans_doublons = []
vue = set()
for d in liste_dicts:
    # Transformer le dictionnaire en tuple trié pour le rendre hashable
    dict_tuple = tuple(sorted(d.items()))
    if dict_tuple not in vue:
        vue.add(dict_tuple)
        liste_sans_doublons.append(d)

print(liste_sans_doublons)

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

In [124]:
def min_list_max(list_numbers):
    minimum=min(list_numbers)
    maximum=max(list_numbers)
    return minimum,maximum
list_1=[1,3,6,8]
min_list_max(list_1)

(1, 8)

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

In [129]:
list1=[1,3,5,7]
list2=[7,9,6,10]
list_tuple=list(zip(list1 , list2))
list_tuple

[(1, 7), (3, 9), (5, 6), (7, 10)]

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

In [131]:
def list_reverse_order(list_chr):
    return list_chr[::-1]
list_reverse_order(['a','b'])

['b', 'a']

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

In [135]:
def sum_all_odd_numbers(list_integers):
    list_all_odd_numbers=[i for i in list_integers if i%2!=0]
    return sum(list_all_odd_numbers)
sum_all_odd_numbers([2,3,5,10])

8

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

In [136]:
def est_palindrome(chaine):
    # On ignore les majuscules et les espaces
    chaine = chaine.replace(" ", "").lower()
    return chaine == chaine[::-1]

# Exemple d'utilisation
texte = "radar"
print(est_palindrome(texte))  # True

texte2 = "Hello"
print(est_palindrome(texte2))  # False

True
False

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

In [ ]:
def mediane(liste):
    # Trier la liste
    liste_triee = sorted(liste)
    n = len(liste_triee)
    
    # Cas pair ou impair
    if n % 2 == 1:  # impair
        return liste_triee[n // 2]
    else:  # pair
        milieu1 = liste_triee[n // 2 - 1]
        milieu2 = liste_triee[n // 2]
        return (milieu1 + milieu2) / 2

# Exemple d'utilisation
nombres1 = [3, 1, 4, 2, 5]
nombres2 = [3, 1, 4, 2]

print(mediane(nombres1))  # 3
print(mediane(nombres2))  # 2.5

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

In [137]:
def somme_par_cle(liste_dicts):
    resultat = {}
    for d in liste_dicts:
        for cle, valeur in d.items():
            if cle in resultat:
                resultat[cle] += valeur
            else:
                resultat[cle] = valeur
    return resultat

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

In [ ]:
from collections import Counter

def mode_liste(liste):
    compteur = Counter(liste)
    max_count = max(compteur.values())
    # Retourne toutes les valeurs ayant la fréquence maximale
    return [k for k, v in compteur.items() if v == max_count]

# Exemple d'utilisation
nombres = [1, 2, 2, 3, 3, 3, 4, 2]
print(mode_liste(nombres))

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [140]:
def square_of_all_numbers(list_numbers):
    list_squares=[i**2 for i in list_numbers]
    print(list_squares)
    return sum(list_squares)
nombres = [1, 2, 2, 3, 3, 3, 4, 2]
square_of_all_numbers(nombres)

[1, 4, 4, 9, 9, 9, 16, 4]

56

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

In [142]:
list_of_tuple=[(i,i**3) for i in range(1,6)]
list_of_tuple

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

In [146]:
def nombres_premiers(n):
    return [i for i in range(2, n + 1)
            if all(i % j != 0 for j in range(2, int(i ** 0.5) + 1))]
nombres_premiers(10)

[2, 3, 5, 7]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

In [ ]:
def cles_communes(dict1, dict2):
    return list(dict1.keys() & dict2.keys())

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [ ]:
def list_of_strings_more_than_five(list_string):
    return [i for i in list_string if len(i)>5]

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

In [148]:
list_string=['adamat','mamadou','lamine','awa']
list_tuple=[(i,len(i)) for i in list_string]
list_tuple

[('adamat', 6), ('mamadou', 7), ('lamine', 6), ('awa', 3)]

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [149]:
def somme_valeurs_par_cle(liste_dicts):
    resultat = {}
    for d in liste_dicts:
        for cle, valeur in d.items():
            resultat[cle] = resultat.get(cle, 0) + valeur
    return resultat