

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1

In [ ]:
x=10

```
### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise

In [3]:
is_valid = True
print(type(is_valid))

<class 'bool'>

 2
```

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [ ]:
name="Python Programming"

```python
# Exercise 3
```

---

### Exercise 4:

Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

sum_result=5+3

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

In [4]:
a=5
b=10
c=15
variable_multiple=a*b*c

In [5]:
variable_multiple

750

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

In [8]:
x=y=14

14

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

In [ ]:
gravity=9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

In [ ]:
conntry="SENEGAL"

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

In [9]:
age=25
age=age+1

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [11]:

result=20-7
result

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

In [ ]:
value_integer=12
value_floating=12.6

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

In [ ]:
is_completed=False

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [15]:
x=23
y=12
s=x+y
x=y
y=s-x
print(x)
print(y)

12
23

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

In [46]:
# j**2==-1 and j**3==1
complex_num=3+4j
v=complex_num**2
v

(-7+24j)

In [17]:
complex_num

(3+4j)

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [ ]:
a=7
a=str(a)

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

In [ ]:
first_name="adama"
last_name="ba"

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

In [ ]:
temperature=35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

In [ ]:
product=8*6

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

In [ ]:
sentence="I am a student in Aims"

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

In [20]:
string_valus='5'
int_valus=int(string_valus)
int_valus

5

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

In [21]:
quotient=144/12
quotient

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

In [ ]:
remainder="47 divided by 5"

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

In [ ]:
is_student=True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

In [41]:
result=45%4
result

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

In [ ]:
pi=3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

In [ ]:
length=12
width=17
area_rectangle= length*width

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

In [26]:
negative_value=-12
negative_value

-12

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

In [ ]:
greeting="are you happy?"

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

In [ ]:
population=200000000000000000000000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.


```python
# Exercise 30
```

---

In [ ]:
valus_power=2**8

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

In [ ]:
fruits=list("bananas","pomme","orange")

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

In [ ]:
coordinates=(23,34.7,34)

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

In [ ]:
person={"nam":"adama","age":65}

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

In [ ]:
a=45.5
b=458.09
c=a+b

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

In [27]:
is_sunny= 10>5
type(is_sunny)

bool

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

In [31]:
valus_string="hello"
valus_int=5
print(valus_string,valus_int)

hello 5

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

In [33]:
value=str(346)
value

'346'

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

In [ ]:
is_weekend=False

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

In [38]:
description="hello world \
                I am adama"
description

'hello world                 I am adama'

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

In [39]:
absolute=abs(-25)
absolute

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

In [40]:
floor_div_result=100//6

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

In [ ]:
mixed_sum=12.6+4

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

---

In [43]:
a=10
b=15
comparison=a>b
comparison

False

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

---

In [ ]:
long_sen="je suis etudiante a aims senegal"
count_long_sen=len(long_sen)

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

---

In [ ]:
division_result=7/3

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

---

In [ ]:
spend="100km/1h"

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

---

In [ ]:
x=16
y=23*x +24

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

In [42]:
x=17
y=34
z=67
average_th_num=(x+y+z)/3